<h1><%= @beer.name %></h1>

<form action="/beers/<%=@beer.id%>" method="POST">
    <div class="form-group">
        <input type="hidden" id="hidden" name="_method" value="patch">
        <h2>Beer:</h2>
        <label for="beer_name">Name</label>
        <input class="form-control" type="text" name="beer[name]" id="beer_name" value="<%=@beer.name%>">
        <label for="ratebeer_url">Ratebeer URL</label>
        <input class="form-control" type="text" name="beer[ratebeer_url]" id="ratebeer_url" value="<%=@beer.ratebeer_url%>">
        <label for="style">Style</label>
        <input class="form-control" type="text" name="beer[style]" id="style" value="<%=@beer.style%>">
        <label for="rating">Rating</label>
        <input class="form-control" type="text" name="beer[rating]" id="rating" value="<%=@beer.rating%>">
        <label for="comments">Comments</label>
        <textarea class="form-control" rows="3" name="beer[comments]" id="comments"><%=@beer.comments%></textarea>
    </div>

    <div class="form-group">
        <h2>Brewery:</h2>
        <label for="brewery_name">Brewery Name</label>
        <input class="form-control" type="text" name="brewery_name" id="brewery_name" value="<%=@beer.brewery.name%>">
        <label for="city">City</label>
        <input class="form-control" type="text" name="city" id="city" value="<%=@beer.brewery.city%>">
        <label for="state">State</label>
        <input class="form-control" type="text" name="state" id="state" value="<%=@beer.brewery.state%>">
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Update">
    </div>
</form>