<h2>Recently Added Beers</h2>

<% @beers.reverse.each do |beer| %>
    <h2 id="beer_name_index"><a href="/beers/<%=beer.id%>"><%= beer.name %></a></h2>
    <p><%= beer.brewery.name %> 
    <% if beer.brewery.city != "" && beer.brewery.state != "" %>
        / <%= beer.brewery.city %>, <%= beer.brewery.state %></p>
    <% end %>
<% end %>
